$site-max-width: 1400px !default;
$site-side-padding: 10px !default;
$color-active: #147EFB;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
.widget>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $color-active;

    &:visited,
    &:active {
        color: $color-active;
    }
}

.wrapper {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $site-side-padding;
    padding-right: $site-side-padding;
}

.page {
    min-height: 80vh;

    strong {
        font-weight: 700;
    }

    p {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.social {
    display: flex;
    // align-items: center;
    //  justify-content: center;

    li {
        margin-right: 4px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    a {
        text-align: center;
        color: #000;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        outline: none;
        padding: 0;
        width: 40px;
        height: 40px;
    }
}

.header,
.footer {
    background: linear-gradient(to right, #f7fbfc 0%, #d9edf2 75%, #d6f6ff 100%);
    padding: 10px 0;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3001;
    border-bottom: 2px solid #c3c2c3;

    .wrapper {
        display: flex;
        align-items: center;
    }

    .Band.banner {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hamburger {
        margin-left: auto;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 32px;
        height: 24px;
        position: relative;
        z-index: 1003;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-right: 20px;

        >* {
            display: block;
            border-radius: 4px;
            background: #000;
            height: 4px;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

        &.active {
            >* {
                &:nth-of-type(1) {
                    transform: rotate(45deg) translate(8px, 6px);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: rotate(-45deg) translate(8px, -6px);
                }
            }
        }
    }

    .logo {
        width: 100%;
        max-width: 160px;

        a {
            display: block;
        }
    }

    nav {
        margin-left: auto;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        >ul {
            list-style: none;
            display: flex;

            >li {
                position: relative;
                cursor: pointer;
                margin: 0 4px;


                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                a,
                span {
                    display: block;
                    padding: 6px 20px;
                    color: #000;
                    text-decoration: none;
                    border-radius: 4px;
                }

                span {
                    cursor: default;
                    background: $color-active;
                    color: #fff;
                }

                .sub-nav {
                    display: none;
                    z-index: 1001;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    padding: 10px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        min-width: 300px;
                    }
                }
            }
        }
    }
}

.footer {
    border-top: 2px solid #c3c2c3;
    padding-bottom: 60px;
}

.desktop {
    display: block;
}

.mobile,
.ie-11,
.hidden {
    display: none;
}

.visually-hidden,
.sizing-check {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.rows {
    display: flex;
    width: 100%;

    .row {
        width: 50%;
    }

    &.three {
        .row {
            width: 33.33333333%;
        }
    }

    &.four {
        .row {
            width: 25%;
        }
    }

    &.reverse {
        flex-direction: row-reverse;
    }
}

h1,
h2,
h3 {
    display: block;
    line-height: 1.2;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

section.index,
section.single {
    .rows {

        .row-1 {
            width: 80%;
            padding-right: 30px;
        }

        .row-2 {
            width: 20%;
            padding-left: 30px;
            border-left: 1px solid #cdcdcd;
        }
    }
}

.loading {
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        animation-name: rotate360;
        animation-iteration-count: infinite;
        transform-origin: center;
    }

    &:before {
        width: 40px;
        height: 40px;
        border: 6px solid #333;
        border-radius: 50%;
        animation-duration: 1s;
        animation-delay: 0s;
        border-top-color: transparent;
    }

    &:after {
        width: 80px;
        height: 80px;
        border: 2px solid #333;
        border-radius: 50%;
        animation-duration: 0.5s;
        border-bottom-color: transparent;
    }

    &.full-screen {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 20px;
    }
}

@keyframes rotate360 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.page {
    padding: 40px 0;

    h1 {
        margin-bottom: 20px;
    }
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .post {
        a {
            display: block;
            padding: 10px;
            border: 1px solid $color-active;
            border-radius: 4px;
            color: #333;
            background: #f9f9f9;
            text-decoration: none;

            >* {
                display: block;
                width: 100%;
                padding-bottom: 14px;

                &:nth-last-child(1) {
                    padding-bottom: 0;
                }
            }
        }
    }
}

/* START BUILD */



@media only screen and (max-width: $site-max-width),
(max-device-wdith: $site-max-width) {}

@media (max-width: 1024px) {
    .header {
        transition: all 0.2s ease-in-out;

        nav {
            position: fixed;
            left: 0;
            top: 0;
            background: #fff;
            width: 100%;
            max-width: 100%;
            height: 100vh;
            overflow-y: auto;
            transition: all 0.2s ease-in-out;
            padding: 100px 20px 100px 20px;
            transform: translateX(-140vw);

            &::-webkit-scrollbar {
                display: none;
            }

            &.active {
                transform: translateX(0);
            }

            ul {
                flex-direction: column;
            }


        }

        .hamburger {
            display: flex;
            margin-right: 10px;
        }
    }
}

@media only screen and (hover: hover) and (min-width: 1024px) {

    .header nav>ul>li a,
    .posts .post a {
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            background: #333;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 420px) {}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    // IE ONLY
}